@font-face {
    font-family: Satoshi;
    src: url(../public/fonts/Satoshi-Variable.ttf);
}

html {
    cursor: url(../public/cursor/cursor.cur), auto;
     margin-left: 5%;
    margin-right: 5%;
}

body {
    background-color: #353839;
     font-family: 'Satoshi';
      color: white;
   

}

.width-wrap {
    margin: auto;
    height: max-content;
    width: 100%
}

h1:hover, h2:hover, h3:hover {
    color: #353839;
    background-color: yellow;
}

a {
    color: white;
}

.author, dt { 
    color: yellow;
}

.menu {
    padding-left: 0;
}
.nav {
  display: inline-block; /* or display: inline; */
  margin-right: 10px; /* Optional: adds space between items */
}