@font-face {
    font-family: Satoshi;
    src: url(../public/fonts/Satoshi-Variable.ttf);
}

html {
    cursor: url(../public/cursor/cursor.cur), auto;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background-color: #1f2122;
    font-family: 'Manrope';
    color: white;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Satoshi';
}

h1 {
    background: #524500;
    background: linear-gradient(90deg, rgb(45, 49, 0) 0%, rgba(121, 112, 9, 1) 35%, rgba(255, 247, 0, 1) 100%);
}


input,
textarea,
select {
    background-color: #353839;
    color: white;
    border: 1px solid white;
    padding: 5px;
}


table {
    border-collapse: collapse;
    text-align: center;
    min-width: 50%;
}

th,
td {
    border: 1px solid white;
}

tr:nth-child(even) {
    background-color: #252525;
}

.width-wrap {
    background-color: #353839;
    margin: auto;
    height: max-content;
    width: 100%;
    max-width: 960px;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    margin-bottom: 3em;
}

hr {
    width: 50%;
    min-width: 300px;
    max-width: 890px;
    border: none;
    border-bottom: 3px dotted yellow;
    margin-top: 3em;
    margin-bottom: 2em;
}

dt::after {
    content: ":";
}

h1,
h2,
h3 {
    color: white;
}

h1:hover,
h2:hover,
h3:hover {
    color: #353839;
    background-color: yellow;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol {
    list-style-type: upper-roman;
}

.author,
dt {
    color: yellow;
}

.nav {

    margin-right: 10px;
}

header ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: center;
}

nav {
    border-top: 4px solid rgba(0, 0, 0, 0.1);
}

header {
    margin-left: -20px;
    margin-right: -20px;
}

header nav {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
}


header nav li {
    display: inline;
}

header nav a {
    display: inline-block;
    border-top: 4px solid transparent;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: 0 1em;
    text-decoration: none;
    color: inherit;
    transition: border-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;

}

header nav a:hover {
    border-top-color: yellow;
    text-decoration: none;
    /* choose your color */
}

::selection {
    color: #353839;
    background-color: yellow;
}

label {
    display: block;
    padding: 0.5em;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    display: inline;

}

input[type="submit"] {
    border: none;
    padding: 1em 3em;
    background-color: yellow;
    color: #353839;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #005fa3;
    color: white;
}

input:invalid,
textarea:invalid,
select:invalid {
    background-color: #ffe6e6;
}

.youtube-video {
    border-radius: 2em 0 2em 0;
    overflow: hidden;
}

.radio-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.bio .tablediv {
    grid-column: 1 / -1;
}

.bio .tablediv table {
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.bio .tablediv th,
.bio .tablediv td {
    border: 1px solid #000;
    padding: 0.5em;
}

.bio .tablediv caption {
    caption-side: bottom;
    padding-top: 0.5em;
    font-style: italic;
}

img {
    max-width: 100%;
}

.avatar {
    padding: 2%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer {
    font-size: 75%;
    text-align: center;
}

.btt {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 55px yellow, 0 0 75px yellow;
    margin-left: -25px;
    position: sticky;
    bottom: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.btt:hover {
    transform: rotate(45deg);
}


.favourites>label+div {
    display: none;
    width: 100%;
    /* Step 2.13 */
}

.favourites>input:checked+label+div {
    display: block;
}


.favourites input[type="radio"] {
    display: none;
}


.favourites {
    display: flex;
    flex-wrap: wrap;
}


.favourites label {
    order: -1;
}


.favourites label h3 {
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}

.favourites label:hover h3 {
    color: #353839;
    border-bottom: 2px solid #ccc;
}

.favourites>input:checked+label h3 {
    color: yellow;
    border-bottom: 3px solid yellow;
    font-weight: bold;
}

.favourites label+div {
    background-color: #1f2122;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery a {
    transition: transform 0.3s ease;
}

.gallery a:hover {
    transform: scale(1.1);
}

.gallery a.row-span-2 {
    grid-row: span 2;
}

.gallery a.col-span-2 {
    grid-column: span 2;
}

.bio a {
    display: block;
    position: relative;
}

.paperclip {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    background: none;
    box-shadow: none;
    z-index: 10;
}